body{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.search{
    display: flex;
    position: fixed;
    top: 10px;
}

.search input{
    width: 70vw;
    border: none;
    border-radius: 40px;
    text-indent: 25px;
}

input:focus{
    outline: none;
}

.search img{
    margin-left: -60px;
}

.news img{
    width: 300px;
    align-items: center;
    justify-content: center;

}
.title{
    font-weight: bold;
    font-size: large;
}

.desc{
    font-size: small;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 40px;
}

#news-container{
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    display: flex;
    align-items: center;
}
